#custom-button {
  padding: 10px;
  color: white;
  background-color: #706f6f;
  border: 1px solid #706f6f;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #9e9d99;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}
